.header {
  height: 74px;
  background-color: #222;
  position: relative;

  & img {
    height: max-content;
  }
  &__icon-svg path{
    transition: fill .3s;
  }

  &__icon-svg:hover path{
    fill: $red;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__left,
  &__right {
    box-sizing: border-box;
    display: flex;
    height: max-content;
    align-items: center;
  }

  &__left {
    width: 111px;
    justify-content: space-between;
  }

  &__search {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__right {
    justify-content: end;
    gap: 33px;
  }

  &__burger {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__cart-wrap {
    position: relative;
  }
  
  &__cart-count {
    position: absolute;
    text-align: center;
    background-color: $red;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    line-height: 19px;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    left: 23px;
    top: -7px;
  }
}